@charset "UTF-8";
/* Escritorios grandes (más de 1440px) */
.cont_slader .container_swiper {
  width: 100%;
  margin: auto;
}
.cont_slader .container_swiper .swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  position: relative;
}
.cont_slader .container_swiper .swiper .swiper-wrapper .swiper-slide .slade_imageFondo {
  width: 100%;
  height: 500px;
}
.cont_slader .container_swiper .swiper .swiper-wrapper .swiper-slide .slade_cubierta {
  width: 100%;
  height: 450px;
  background: rgba(0, 0, 0, 0.522);
  position: absolute;
  top: 0;
  display: none;
}
.cont_slader .container_swiper .swiper .swiper-wrapper .swiper-slide .slade_text {
  width: 100%;
  height: 450px;
  position: absolute;
  top: 0;
}
.cont_slader .container_swiper .swiper .swiper-wrapper .swiper-slide .slade_text .slade_text_h1 {
  font-size: 150px;
  font-weight: 500;
  color: #FDC5C5;
  -webkit-text-stroke: 5px rgb(41, 41, 41);
  margin-top: 70px;
  margin-left: 100px;
  font-family: "BlackRose";
}
.cont_slader .container_swiper .swiper .swiper-wrapper .swiper-slide .slade_text .slade_text_h2 {
  font-size: 60px;
  margin-top: -50px;
  margin-left: 120px;
  font-family: "BlackRose";
  color: #FDC5C5;
}

/* Laptops y escritorios (1025px a 1440px) */
@media (min-width: 1025px) and (max-width: 1439px) {
  .cont_slader .container_swiper {
    width: 100%;
    margin: auto;
  }
  .cont_slader .container_swiper .swiper .swiper-wrapper .swiper-slide {
    width: 100%;
    position: relative;
  }
  .cont_slader .container_swiper .swiper .swiper-wrapper .swiper-slide .slade_imageFondo {
    width: 100%;
    height: 450px;
  }
  .cont_slader .container_swiper .swiper .swiper-wrapper .swiper-slide .slade_cubierta {
    width: 100%;
    height: 450px;
    background: rgba(0, 0, 0, 0.522);
    position: absolute;
    top: 0;
    display: none;
  }
  .cont_slader .container_swiper .swiper .swiper-wrapper .swiper-slide .slade_text {
    width: 100%;
    height: 450px;
    position: absolute;
    top: 0;
  }
  .cont_slader .container_swiper .swiper .swiper-wrapper .swiper-slide .slade_text .slade_text_h1 {
    font-size: 120px;
    font-weight: 500;
    color: #FDC5C5;
    -webkit-text-stroke: 5px rgb(41, 41, 41);
    margin-top: 70px;
    margin-left: 90px;
    font-family: "BlackRose";
  }
  .cont_slader .container_swiper .swiper .swiper-wrapper .swiper-slide .slade_text .slade_text_h2 {
    font-size: 50px;
    margin-top: -40px;
    margin-left: 100px;
    font-family: "BlackRose";
    color: #FDC5C5;
  }
}
/* Tablets (769px a 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .cont_slader .container_swiper {
    width: 100%;
    margin: auto;
  }
  .cont_slader .container_swiper .swiper .swiper-wrapper .swiper-slide {
    width: 100%;
    position: relative;
  }
  .cont_slader .container_swiper .swiper .swiper-wrapper .swiper-slide .slade_imageFondo {
    width: 100%;
    height: 450px;
    padding: 10px 0px;
  }
  .cont_slader .container_swiper .swiper .swiper-wrapper .swiper-slide .slade_cubierta {
    width: 100%;
    height: 450px;
    background: rgba(0, 0, 0, 0.522);
    position: absolute;
    top: 0;
  }
  .cont_slader .container_swiper .swiper .swiper-wrapper .swiper-slide .slade_text {
    width: 100%;
    height: 450px;
    position: absolute;
    top: 0;
  }
  .cont_slader .container_swiper .swiper .swiper-wrapper .swiper-slide .slade_text .slade_text_h1 {
    width: 300px;
    font-size: 120px;
    font-weight: 500;
    color: #FDC5C5;
    -webkit-text-stroke: 5px rgb(41, 41, 41);
    margin-top: 70px;
    margin-left: 90px;
    font-family: "BlackRose";
    line-height: 100px;
  }
  .cont_slader .container_swiper .swiper .swiper-wrapper .swiper-slide .slade_text .slade_text_h2 {
    font-size: 50px;
    margin-top: 10px;
    margin-left: 100px;
    font-family: "BlackRose";
    color: #FDC5C5;
  }
}
/*
cont_grilla
grilla_header
grilla_slader
grilla_section

*/
.cont_grilla {
  width: 100%;
  max-width: 1600px;
  padding: 10px 0px;
  margin: auto;
  background: rgb(49, 49, 49);
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: "grilla_header     grilla_header     grilla_header" "grilla_slader     grilla_slader     grilla_slader" "grilla_section    grilla_section    grilla_section";
}
.cont_grilla .grilla_header {
  height: 160px;
  padding: 10px 0px;
  grid-area: grilla_header;
}
.cont_grilla .grilla_slader {
  grid-area: grilla_slader;
  display: none;
}
.cont_grilla .grilla_section {
  background: rgb(126, 126, 126);
  padding: 10px 0px;
  grid-area: grilla_section;
  display: none;
}

/* Móviles grandes y phablets (481px a 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .cont_grilla {
    width: 100%;
    max-width: 1600px;
    padding: 10px 0px;
    margin: auto;
    background: rgb(49, 49, 49);
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: "grilla_header     grilla_header     grilla_header" "grilla_slader     grilla_slader     grilla_slader" "grilla_section    grilla_section    grilla_section";
  }
  .cont_grilla .grilla_header {
    height: 110px;
    background: rgb(126, 126, 126);
    padding: 10px 0px;
    grid-area: grilla_header;
  }
  .cont_grilla .grilla_slader {
    background: rgb(126, 126, 126);
    padding: 10px 0px;
    grid-area: grilla_slader;
    display: none;
  }
  .cont_grilla .grilla_section {
    background: rgb(126, 126, 126);
    padding: 10px 0px;
    grid-area: grilla_section;
    display: none;
  }
}
/* Móviles pequeños (hasta 480px) */
@media (min-width: 423px) and (max-width: 480px) {
  .cont_grilla {
    width: 100%;
    max-width: 1600px;
    padding: 10px 0px;
    margin: auto;
    background: rgb(49, 49, 49);
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: "grilla_header     grilla_header     grilla_header" "grilla_slader     grilla_slader     grilla_slader" "grilla_section    grilla_section    grilla_section";
  }
  .cont_grilla .grilla_header {
    height: 110px;
    padding: 10px 0px;
    grid-area: grilla_header;
  }
  .cont_grilla .grilla_slader {
    background: rgb(126, 126, 126);
    padding: 10px 0px;
    grid-area: grilla_slader;
    display: none;
  }
  .cont_grilla .grilla_section {
    background: rgb(126, 126, 126);
    padding: 10px 0px;
    grid-area: grilla_section;
    display: none;
  }
}
/* Escritorios grandes (más de 1440px) */
.cont_header {
  width: 100%;
  height: 170px;
  background: #f465ea;
  padding: 5px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  margin: auto;
  z-index: 100;
  /**************/
  /************/
  /*************/
}
.cont_header .block_logo {
  margin-top: 80px;
  margin-left: 40px;
  width: 320px;
  height: 320px;
}
.cont_header .block_navigation {
  margin-top: 30px;
  width: 700px;
  padding: 5px 0px;
  margin-right: 40px;
  background: #f465ea;
  /*************/
  /***********/
}
.cont_header .block_navigation .block_navigation_sup {
  width: 100%;
  padding: 5px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /****************/
  /*****************/
}
.cont_header .block_navigation .block_navigation_sup .menu_secundario {
  padding: 5px;
}
.cont_header .block_navigation .block_navigation_sup .menu_secundario .menu_secundario_ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
.cont_header .block_navigation .block_navigation_sup .menu_secundario .menu_secundario_ul .menu_secundario_ul_li {
  padding: 0px 20px;
  margin: 0px 2px;
  text-align: center;
}
.cont_header .block_navigation .block_navigation_sup .menu_secundario .menu_secundario_ul .menu_secundario_ul_li .link {
  color: rgb(109, 109, 109);
  color: white;
  font-size: 15px;
}
.cont_header .block_navigation .block_navigation_sup .redes {
  padding: 5px 10px;
}
.cont_header .block_navigation .block_navigation_sup .redes .iconRedes {
  color: #D1F2EB;
  font-size: 22px;
  margin: 0px 3px;
  cursor: pointer;
}
.cont_header .block_navigation .block_navigation_inf {
  padding: 2px 0px;
}
.cont_header .block_navigation .block_navigation_inf .block_navigation_inf_ul {
  padding: 0px 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.cont_header .block_navigation .block_navigation_inf .block_navigation_inf_ul .block_navigation_inf_ul_li {
  padding: 5px;
  margin-left: 16px;
  list-style: none;
}
.cont_header .block_navigation .block_navigation_inf .block_navigation_inf_ul .block_navigation_inf_ul_li .link {
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  border-bottom: 2px solid transparent;
  transition: 0.3s all;
}
.cont_header .block_navigation .block_navigation_inf .block_navigation_inf_ul .block_navigation_inf_ul_li .link:hover {
  border-bottom: 2px solid #E7D0FF;
  color: #E7D0FF;
}
.cont_header .block_btnResponsive {
  width: 50px;
  height: 50px;
  background: grey;
  margin-right: 20px;
  display: none;
}

/* Laptops y escritorios (1025px a 1440px) */
@media (min-width: 1025px) and (max-width: 1439px) {
  .cont_header {
    width: 100%;
    height: 170px;
    background: #f465ea;
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    /**************/
    /************/
    /*************/
  }
  .cont_header .block_logo {
    margin-top: 80px;
    margin-left: 40px;
    width: 320px;
    height: 320px;
  }
  .cont_header .block_navigation {
    margin-top: 30px;
    width: 700px;
    padding: 5px 0px;
    margin-right: 40px;
    background: #f465ea;
    /*************/
    /***********/
  }
  .cont_header .block_navigation .block_navigation_sup {
    width: 100%;
    padding: 5px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /****************/
    /*****************/
  }
  .cont_header .block_navigation .block_navigation_sup .menu_secundario {
    padding: 5px;
  }
  .cont_header .block_navigation .block_navigation_sup .menu_secundario .menu_secundario_ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
  }
  .cont_header .block_navigation .block_navigation_sup .menu_secundario .menu_secundario_ul .menu_secundario_ul_li {
    padding: 0px 20px;
    margin: 0px 2px;
    text-align: center;
  }
  .cont_header .block_navigation .block_navigation_sup .menu_secundario .menu_secundario_ul .menu_secundario_ul_li .link {
    color: rgb(109, 109, 109);
    color: white;
    font-size: 15px;
  }
  .cont_header .block_navigation .block_navigation_sup .redes {
    padding: 5px 10px;
  }
  .cont_header .block_navigation .block_navigation_sup .redes .iconRedes {
    color: #D1F2EB;
    font-size: 22px;
    margin: 0px 3px;
    cursor: pointer;
  }
  .cont_header .block_navigation .block_navigation_inf {
    padding: 2px 0px;
  }
  .cont_header .block_navigation .block_navigation_inf .block_navigation_inf_ul {
    padding: 0px 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .cont_header .block_navigation .block_navigation_inf .block_navigation_inf_ul .block_navigation_inf_ul_li {
    padding: 5px;
    margin-left: 16px;
    list-style: none;
  }
  .cont_header .block_navigation .block_navigation_inf .block_navigation_inf_ul .block_navigation_inf_ul_li .link {
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: 0.3s all;
  }
  .cont_header .block_navigation .block_navigation_inf .block_navigation_inf_ul .block_navigation_inf_ul_li .link:hover {
    border-bottom: 2px solid #E7D0FF;
    color: #E7D0FF;
  }
  .cont_header .block_btnResponsive {
    width: 50px;
    height: 50px;
    background: grey;
    margin-right: 20px;
    display: none;
  }
}
/* Tablets (769px a 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .cont_header {
    width: 100%;
    height: 170px;
    background: #f465ea;
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    /**************/
    /************/
    /*************/
  }
  .cont_header .block_logo {
    margin-top: 80px;
    margin-left: 10px;
    width: 30%;
    height: auto;
  }
  .cont_header .block_navigation {
    margin-top: 30px;
    width: 500px;
    padding: 5px 0px;
    margin-right: 10px;
    background: #f465ea;
    /*************/
    /***********/
  }
  .cont_header .block_navigation .block_navigation_sup {
    width: 100%;
    padding: 5px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /****************/
    /*****************/
  }
  .cont_header .block_navigation .block_navigation_sup .menu_secundario {
    padding: 5px;
  }
  .cont_header .block_navigation .block_navigation_sup .menu_secundario .menu_secundario_ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
  }
  .cont_header .block_navigation .block_navigation_sup .menu_secundario .menu_secundario_ul .menu_secundario_ul_li {
    padding: 0px 20px;
    margin: 0px 2px;
    text-align: center;
  }
  .cont_header .block_navigation .block_navigation_sup .menu_secundario .menu_secundario_ul .menu_secundario_ul_li .link {
    color: rgb(109, 109, 109);
    color: white;
    font-size: 15px;
  }
  .cont_header .block_navigation .block_navigation_sup .redes {
    padding: 5px 10px;
  }
  .cont_header .block_navigation .block_navigation_sup .redes .iconRedes {
    color: #D1F2EB;
    font-size: 22px;
    margin: 0px 3px;
    cursor: pointer;
  }
  .cont_header .block_navigation .block_navigation_inf {
    padding: 2px 0px;
  }
  .cont_header .block_navigation .block_navigation_inf .block_navigation_inf_ul {
    padding: 0px 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .cont_header .block_navigation .block_navigation_inf .block_navigation_inf_ul .block_navigation_inf_ul_li {
    padding: 5px;
    margin-left: 16px;
    list-style: none;
  }
  .cont_header .block_navigation .block_navigation_inf .block_navigation_inf_ul .block_navigation_inf_ul_li .link {
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: 0.3s all;
  }
  .cont_header .block_navigation .block_navigation_inf .block_navigation_inf_ul .block_navigation_inf_ul_li .link:hover {
    border-bottom: 2px solid #E7D0FF;
    color: #E7D0FF;
  }
  .cont_header .block_btnResponsive {
    width: 50px;
    height: 50px;
    background: grey;
    margin-right: 20px;
    display: none;
  }
}
/* Móviles grandes y phablets (481px a 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .cont_header {
    width: 100%;
    height: 110px;
    background: #f465ea;
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    /**************/
    /************/
    /*************/
  }
  .cont_header .block_logo {
    margin-top: 50px;
    margin-left: 20px;
    width: 220px;
    height: 220px;
    z-index: 100;
  }
  .cont_header .block_navigation {
    margin-top: 30px;
    width: 500px;
    padding: 5px 0px;
    margin-right: 10px;
    background: #f465ea;
    position: absolute;
    top: 150px;
    /*************/
    /***********/
  }
  .cont_header .block_navigation .block_navigation_sup {
    width: 100%;
    padding: 5px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /****************/
    /*****************/
  }
  .cont_header .block_navigation .block_navigation_sup .menu_secundario {
    padding: 5px;
  }
  .cont_header .block_navigation .block_navigation_sup .menu_secundario .menu_secundario_ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
  }
  .cont_header .block_navigation .block_navigation_sup .menu_secundario .menu_secundario_ul .menu_secundario_ul_li {
    padding: 0px 20px;
    margin: 0px 2px;
    text-align: center;
  }
  .cont_header .block_navigation .block_navigation_sup .menu_secundario .menu_secundario_ul .menu_secundario_ul_li .link {
    color: rgb(109, 109, 109);
    color: white;
    font-size: 15px;
  }
  .cont_header .block_navigation .block_navigation_sup .redes {
    padding: 5px 10px;
  }
  .cont_header .block_navigation .block_navigation_sup .redes .iconRedes {
    color: #D1F2EB;
    font-size: 22px;
    margin: 0px 3px;
    cursor: pointer;
  }
  .cont_header .block_navigation .block_navigation_inf {
    padding: 2px 0px;
  }
  .cont_header .block_navigation .block_navigation_inf .block_navigation_inf_ul {
    padding: 0px 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .cont_header .block_navigation .block_navigation_inf .block_navigation_inf_ul .block_navigation_inf_ul_li {
    padding: 5px;
    margin-left: 16px;
    list-style: none;
  }
  .cont_header .block_navigation .block_navigation_inf .block_navigation_inf_ul .block_navigation_inf_ul_li .link {
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: 0.3s all;
  }
  .cont_header .block_navigation .block_navigation_inf .block_navigation_inf_ul .block_navigation_inf_ul_li .link:hover {
    border-bottom: 2px solid #E7D0FF;
    color: #E7D0FF;
  }
  .cont_header .block_btnResponsive {
    width: 50px;
    height: 50px;
    background: grey;
    margin-right: 20px;
    display: block;
    cursor: pointer;
  }
}
/* Móviles pequeños (hasta 480px) */
@media (min-width: 420px) and (max-width: 480px) {
  .cont_header {
    width: 100%;
    height: 110px;
    background: #f465ea;
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    /**************/
    /************/
    /*************/
  }
  .cont_header .block_logo {
    margin-top: 50px;
    margin-left: initial;
    width: 200px;
    height: 200px;
  }
  .cont_header .block_navigation {
    margin-top: 30px;
    width: 500px;
    padding: 5px 0px;
    margin-right: 10px;
    background: #f465ea;
    display: none;
    /*************/
    /***********/
  }
  .cont_header .block_navigation .block_navigation_sup {
    width: 100%;
    padding: 5px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /****************/
    /*****************/
  }
  .cont_header .block_navigation .block_navigation_sup .menu_secundario {
    padding: 5px;
  }
  .cont_header .block_navigation .block_navigation_sup .menu_secundario .menu_secundario_ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
  }
  .cont_header .block_navigation .block_navigation_sup .menu_secundario .menu_secundario_ul .menu_secundario_ul_li {
    padding: 0px 20px;
    margin: 0px 2px;
    text-align: center;
  }
  .cont_header .block_navigation .block_navigation_sup .menu_secundario .menu_secundario_ul .menu_secundario_ul_li .link {
    color: rgb(109, 109, 109);
    color: white;
    font-size: 15px;
  }
  .cont_header .block_navigation .block_navigation_sup .redes {
    padding: 5px 10px;
  }
  .cont_header .block_navigation .block_navigation_sup .redes .iconRedes {
    color: #D1F2EB;
    font-size: 22px;
    margin: 0px 3px;
    cursor: pointer;
  }
  .cont_header .block_navigation .block_navigation_inf {
    padding: 2px 0px;
  }
  .cont_header .block_navigation .block_navigation_inf .block_navigation_inf_ul {
    padding: 0px 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .cont_header .block_navigation .block_navigation_inf .block_navigation_inf_ul .block_navigation_inf_ul_li {
    padding: 5px;
    margin-left: 16px;
    list-style: none;
  }
  .cont_header .block_navigation .block_navigation_inf .block_navigation_inf_ul .block_navigation_inf_ul_li .link {
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: 0.3s all;
  }
  .cont_header .block_navigation .block_navigation_inf .block_navigation_inf_ul .block_navigation_inf_ul_li .link:hover {
    border-bottom: 2px solid #E7D0FF;
    color: #E7D0FF;
  }
  .cont_header .block_btnResponsive {
    width: 50px;
    height: 50px;
    background: grey;
    margin-right: 20px;
    display: block;
    cursor: pointer;
  }
}
@font-face {
  src: url(../fonts/BLACKR~1.TTF);
  font-family: "BlackRose";
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  transition: 0.5s all ease-in-out;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
