.container_swiper {
  width: 90%;
  height: 1000px;
  height: auto;
  margin: auto;
}
.container_swiper .swiper {
  background: transparent;
}
.container_swiper .swiper .swiper-wrapper {
  background: transparent;
  background: rgb(76, 87, 87);
}
.container_swiper .swiper .swiper-wrapper .swiper-slide {
  background: transparent;
}
.container_swiper .swiper .swiper-wrapper .swiper-slide .cont_imagen {
  width: 100%;
  height: 400px;
}

/*
cont_grilla
grilla_header
grilla_slader
grilla_section

*/
.cont_grilla {
  width: 100%;
  max-width: 1600px;
  padding: 10px 0px;
  margin: auto;
  background: rgb(49, 49, 49);
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: "grilla_header     grilla_header     grilla_header" "grilla_slader     grilla_slader     grilla_slader" "grilla_section    grilla_section    grilla_section";
}
.cont_grilla .grilla_header {
  background: rgb(126, 126, 126);
  padding: 10px 0px;
  grid-area: grilla_header;
}
.cont_grilla .grilla_slader {
  background: rgb(126, 126, 126);
  padding: 10px 0px;
  grid-area: grilla_slader;
}
.cont_grilla .grilla_section {
  background: rgb(126, 126, 126);
  padding: 10px 0px;
  grid-area: grilla_section;
}

/*
cont_header
block_logo
block_navigation

*/
.cont_header {
  width: 100%;
  max-width: 1600px;
  padding: 10px 0px;
  background: rgb(53, 53, 53);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /************/
}
.cont_header .block_logo {
  width: 150px;
  height: 150px;
}
.cont_header .block_navigation {
  width: 700px;
  padding: 5px 0px;
  /*************/
  /***********/
}
.cont_header .block_navigation .block_navigation_sup {
  width: 100%;
  padding: 5px 0px;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /****************/
  /*****************/
}
.cont_header .block_navigation .block_navigation_sup .menu_secundario {
  padding: 5px;
}
.cont_header .block_navigation .block_navigation_sup .menu_secundario .menu_secundario_ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
.cont_header .block_navigation .block_navigation_sup .menu_secundario .menu_secundario_ul .menu_secundario_ul_li {
  padding: 0px 20px;
  margin: 0px 2px;
  text-align: center;
}
.cont_header .block_navigation .block_navigation_sup .menu_secundario .menu_secundario_ul .menu_secundario_ul_li .link {
  color: rgb(109, 109, 109);
}
.cont_header .block_navigation .block_navigation_sup .redes {
  padding: 5px 10px;
}
.cont_header .block_navigation .block_navigation_sup .redes .iconRedes {
  color: rgb(63, 63, 63);
  font-size: 26px;
  margin: 0px 3px;
  cursor: pointer;
}
.cont_header .block_navigation .block_navigation_inf {
  padding: 5px;
  background: rgb(75, 75, 75);
}
.cont_header .block_navigation .block_navigation_inf .block_navigation_inf_ul {
  padding: 0px 5px;
  background: greenyellow;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.cont_header .block_navigation .block_navigation_inf .block_navigation_inf_ul .block_navigation_inf_ul_item {
  padding: 5px;
  background: rgb(68, 67, 67);
  list-style: none;
}
.cont_header .block_navigation .block_navigation_inf .block_navigation_inf_ul .block_navigation_inf_ul_item .item {
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: grey;
}

/*# sourceMappingURL=main.css.map */
