@use "../variables";

.cont_productos{
    width: 100%;
    padding: 100px 0px;
    background: rgb(255, 255, 255);
    .cont_productosTitle{
        text-align: center;
        color: white;
        font-family: curvita_bold;
        font-size: 90px;
        color: rgb(243, 142, 236);
        -webkit-text-stroke: 3px black;
    }

    .cont_productosParrafo{
        margin: 50px auto;
        width: 80%;
        text-align: center;
        font-size:22px;
    }

    .cont_productosBlock{
        width: 90%;
        padding: 10px 0px;
        background: paleturquoise;
        margin:100px auto;
        .cont_productosBlock_cuadro{
            width: 400px;
            height: 450px;
            padding: 20px;
            background: rgba(255, 255, 255, 0.288);
            position: relative;
            .cont_productosBlock_cuadroImg{
                width: 300px;
                height: 300px;
                margin: auto;
            }

            .cont_productosBlock_cuadroTitle{
                text-align: center;
                color: rgb(255, 165, 180);
            }

            .cont_productosBlock_cuadroDesc{
                text-align: center;
                color: rgb(84, 84, 84);
            }

            .cont_productosBlock_cuadroPrecio{
                width: 100px;
                height: 100px;
                background: rgb(247, 142, 160);
                font-size: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                position: absolute;
                top: 0;
            }
        }
    }

   
}


/*
cont_productosBlock
cont_productosBlock_cuadro
cont_productosBlock_cuadroImg
cont_productosBlock_cuadroTitle
cont_productosBlock_cuadroDesc
cont_productosBlock_cuadroPrecio

*/