@use "../variables";


/* Escritorios grandes (más de 1440px) */
.cont_sectionCards{
    width: 100%;
    padding: 100px 0px;
    background: white;
    .cont_sectionCards_h2{
        width: 80%;
        margin: auto;
        margin-top: -50px;
        text-align: center;
        line-height: 100px;
        color: variables.$color_rojo;
        -webkit-text-stroke: 2px black; /* grosor y color del borde */
        font-family: curvita_bold;
        font-size: variables.$font_h2;
    }

    .cont_sectionCards_descripcion{
        width: 80%;
        text-align: center;
        margin: auto;
        margin-top: 50px;
        font-size: 22px;
        color: variables.$color_black_claro;

    }

    .cont_sectionCards_block{
        margin: auto;
        margin-top: 80px;
        width: 80%;
        border-radius: 20px;
        padding: 70px 80px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        background: variables.$color_rosa_pastel;

        .cont_sectionCards_block_target{
            width:410px;
            height: 530px;
            position: relative;
            margin-bottom: 100px;
            border-radius: 20px;
            .target_fondo{
                width: 100%;
                height: 220px;
                background: rgb(242, 235, 45);
                position: absolute;
                top: 80px;
                border-radius: 20px;
                box-shadow: 5px 5px 10px;

            }

            .target_image{
                width:420px;
                height:420px;
                position: absolute;
                top: 0px;
                left: calc(10%);
                transform: rotate(10deg);
                
            }

             .target_legend{
                width: 250px;
                line-height: 38px;
                font-size: 35px;
                font-weight: 500;
                font-family: normal_medium;
                position: absolute;
                bottom: 42px;
                left: 40px;
            }
        }

        .cont_sectionCards_block_target:hover{
            background:transparent;
              .target_fondo{
                    transform: rotate(2deg);
                }

                .target_image{
                    transform: rotate(5deg);

                }
        }
    }
}






/* Laptops y escritorios (1025px a 1440px) */
@media (min-width: 1025px) and (max-width: 1440px){
    .cont_sectionCards{
        width: 100%;
        padding: 100px 0px;
        background: rgb(255, 255, 255);

        .cont_sectionCards_h2{
            width: 60%;
            font-size: 90px;
            margin: auto;
            line-height:70px ;
            text-align: center;
            font-family: curvita_bold;

        }

        .cont_sectionCards_descripcion{
            width: 80%;
            text-align: center;
            margin: auto;
            margin-top: 50px;
        }

        .cont_sectionCards_block{
            margin: auto;
            margin-top: 80px;
            width: 90%;
            border-radius: 20px;
            padding: 10px 80px;
            background: variables.$color_rosa_pastel;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            .cont_sectionCards_block_target{
                width:380px;
                height: 530px;
                position: relative;
                margin-bottom: 100px;
                border-bottom: 4px solid rgb(223, 255, 43);
                border-radius: 20px;
                .target_fondo{
                    width: 100%;
                    height: 220px;
                    background: rgb(242, 235, 45);
                    position: absolute;
                    top: 80px;
                    border-radius: 20px;
                }

                .target_image{
                    width:380px;
                    height:380px;
                    position: absolute;
                    top: 0px;
                    left: calc(10%);
                    transform: rotate(10deg);
                }

                .target_legend{
                    width: 250px;
                    line-height: 38px;
                    font-size: 35px;
                    font-weight: 500;
                    font-family: normal_medium;
                    position: absolute;
                    bottom: 42px;
                    left: 40px;
                }
            }

            .cont_sectionCards_block_target:hover{
                background:transparent;
                .target_fondo{
                        transform: rotate(2deg);
                    }

                    .target_image{
                        transform: rotate(5deg);

                    }
            }
        }
    }

} 




/* Tablets (769px a 1024px)  -------------------CAMBIO BTN--------*/
@media (min-width: 769px) and (max-width: 1024px){
    .cont_sectionCards{
        width: 100%;
        padding: 100px 0px;

        .cont_sectionCards_h2{
            width: 80%;
            font-size: 90px;
            margin: auto;
            line-height:70px ;
            text-align: center;
            font-family: curvita_bold;
        }

        .cont_sectionCards_descripcion{
            width: 80%;
            text-align: center;
            margin: auto;
            margin-top: 50px;
        }

        .cont_sectionCards_block{
            margin: auto;
            margin-top: 80px;
            width: 90%;
            border-radius: 20px;
            padding: 10px 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;

            .cont_sectionCards_block_target{
                width:300px;
                height: 440px;
                position: relative;
                margin-bottom: 60px;
                border-bottom: 4px solid rgb(223, 255, 43);
                border-radius: 20px;

                .target_fondo{
                    width: 100%;
                    height: 220px;
                    background: rgb(242, 235, 45);
                    position: absolute;
                    top: 80px;
                    border-radius: 20px;
                }

                .target_image{
                    width:300px;
                    height:280px;
                    position: absolute;
                    top: 10px;
                    left: calc(10%);
                    transform: rotate(10deg);
                }

                .target_legend{
                    width: 250px;
                    line-height: 38px;
                    font-size: 32px;
                    font-weight: 500;
                    font-family: normal_medium;
                    position: absolute;
                    bottom: 42px;
                    left: 40px;
                }
            }

            .cont_sectionCards_block_target:hover{
                background:transparent;
                .target_fondo{
                        transform: rotate(2deg);
                    }

                    .target_image{
                        transform: rotate(5deg);

                    }
            }
        }
    }

} 




/* Móviles grandes y phablets (481px a 768px) -*/
@media (min-width: 481px) and (max-width: 768px){
    .cont_sectionCards{
        width: 100%;
        padding: 100px 0px;
        .cont_sectionCards_h2{
            width: 80%;
            font-size: 90px;
            margin: auto;
            line-height:70px ;
            text-align: center;
            font-family: curvita_bold;

        }

        .cont_sectionCards_descripcion{
            width: 80%;
            text-align: center;
            margin: auto;
            margin-top: 50px;
        }

        .cont_sectionCards_block{
            margin: auto;
            margin-top: 80px;
            width: 95%;
            border-radius: 20px;
            padding: 10px 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;

            .cont_sectionCards_block_target{
                width:360px;
                height: 440px;
                position: relative;
                margin-bottom: 60px;
                border-bottom: 4px solid rgb(223, 255, 43);
                border-radius: 20px;
                .target_fondo{
                    width: 100%;
                    height: 220px;
                    background: rgb(242, 235, 45);
                    position: absolute;
                    top: 80px;
                    border-radius: 20px;
                }

                .target_image{
                    width:300px;
                    height:280px;
                    position: absolute;
                    top: 10px;
                    left: calc(10%);
                    transform: rotate(10deg);
                }

                .target_legend{
                    width: 250px;
                    line-height: 38px;
                    font-size: 32px;
                    font-weight: 500;
                    font-family: normal_medium;
                    position: absolute;
                    bottom: 42px;
                    left: 40px;
                }
            }

            .cont_sectionCards_block_target:hover{
                background:transparent;
                .target_fondo{
                        transform: rotate(2deg);
                    }

                    .target_image{
                        transform: rotate(5deg);

                    }
            }
        }
    }
} 




/* Móviles pequeños (hasta 480px) */
@media (min-width: 350px) and (max-width: 480px){
   .cont_sectionCards{
        width: 100%;
        padding: 100px 0px;
        .cont_sectionCards_h2{
            width: 80%;
            font-size: 70px;
            margin: auto;
            line-height:50px ;
            text-align: center;
            font-family: curvita_bold;
        }

        .cont_sectionCards_descripcion{
            width: 90%;
            text-align: center;
            margin: auto;
            margin-top: 30px;
            font-size: 16px;
        }

        .cont_sectionCards_block{
            margin: auto;
            margin-top: 80px;
            width: 95%;
            border-radius: 20px;
            padding: 10px 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            
            .cont_sectionCards_block_target{
                width:100%;
                height: 440px;
                position: relative;
                margin-bottom: 60px;
                border-bottom: 4px solid rgb(223, 255, 43);
                border-radius: 20px;
                .target_fondo{
                    width: 100%;
                    height: 220px;
                    background: rgb(242, 235, 45);
                    position: absolute;
                    top: 80px;
                    border-radius: 20px;
                }

                .target_image{
                    width:280px;
                    height:280px;
                    margin: auto;
                    position: initial;
                    top: initial;
                    left:initial;
                    transform: rotate(10deg);
                }

                .target_legend{
                    width: 250px;
                    line-height: 38px;
                    font-size: 32px;
                    font-weight: 500;
                    font-family: normal_medium;
                    position: absolute;
                    bottom: 42px;
                    left: 40px;
                }
            }

          
        }
    }
} 
