@use "../variables";


/* Escritorios grandes (más de 1440px) */
.cont_header{
    width: 100%;
    height: 170px;
    //max-width: 1600px;
    background: variables.$color_black_claro;
    box-shadow: 0px 5px 10px rgb(133, 39, 109);
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;    
    top: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    /**************/
    .block_logo{
        margin-top: 80px;
        margin-left: 40px;
        width: 320px;
        height: 320px;
    }

    /************/
    .block_navigation{
        margin-top: 30px;
        width: 700px;
        padding: 5px 0px;
        margin-right: 40px;
        background: variables.$color_black_claro;
        /*************/
        .block_navigation_sup{
            width: 100%;
            //background: white;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            /****************/
            .menu_secundario{
                padding: 5px;
               
                .menu_secundario_ul{
                    //background: teal;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    list-style: none;
                    .menu_secundario_ul_li{
                        padding: 0px 20px;
                        margin: 0px 2px;
                        //background: brown;
                        text-align: center;
                        .link{
                            color: variables.$color_grey;
                            color: white;
                            font-size: 16px;
                        }
                    }
                }
                
            }

            /*****************/
            .redes{
                padding: 5px 10px;
                //background: rgb(255, 255, 255);
                .iconRedes{
                    font-size: 36px;
                    margin: 0px 3px;
                    cursor: pointer;
                    color: variables.$color_blanco;
                    transition: 0.2s all;
                }
                .iconRedes:hover{
                    color:rgb(233, 233, 233);

                }
            }

        }

        /***********/
        .block_navigation_inf{
            padding: 2px 0px;
            //background: rgb(183, 181, 181);
            .block_navigation_inf_ul{
                padding: 0px 5px;
                //background: greenyellow;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                .block_navigation_inf_ul_li{
                    padding: 5px;
                    //background: rgb(68, 67, 67);
                    margin-left: 16px;
                    list-style: none;
                    .link{
                        font-size: 16px;
                        color: variables.$color_blanco;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-weight: 500;
                        border-bottom: 2px solid transparent;
                        transition: 0.3s all;
                    }
                    .link:hover{
                        border-bottom: 5px solid variables.$color_rojo;
                        color: variables.$color_rojo;

                    }
                }
            }
        
        }
    }

    /*************/
    .block_btnResponsive{
        width: 50px;
        height: 50px;
        //background: grey;
        margin-right: 20px;
        display: none;
    }
}







/* Laptops y escritorios (1025px a 1440px) */
@media (min-width:1025px) and (max-width:1439px){ 
   .cont_header{
        width: 100%;
        height: 170px;
        //max-width: 1600px;
        padding: 5px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        left: 0;    
        top: 0;
        right: 0;
        margin: auto;
        z-index: 100;
        /**************/
        .block_logo{
            margin-top: 80px;
            margin-left: 40px;
            width: 320px;
            height: 320px;
        }

        /************/
        /************/
        .block_navigation{
            margin-top: 30px;
            width: 580px;
            padding: 5px 0px;
            margin-right: 20px;
            //background: variables.$color_rosa;
            /*************/
            .block_navigation_sup{
                width: 100%;
                //background: white;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                /****************/
                .menu_secundario{
                    padding: 5px;
                
                    .menu_secundario_ul{
                        //background: teal;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        list-style: none;
                        .menu_secundario_ul_li{
                            padding: 0px 20px;
                            margin: 0px 2px;
                            //background: brown;
                            text-align: center;
                            .link{
                                color: variables.$color_grey;
                                color: white;
                                font-size: 16px;
                            }
                        }
                    }
                    
                }

                /*****************/
                .redes{
                    padding: 5px 10px;
                    //background: rgb(255, 255, 255);
                    .iconRedes{
                        font-size: 32px;
                        margin: 0px 3px;
                        cursor: pointer;
                        color: variables.$color_blanco;
                        transition: 0.2s all;
                    }
                    .iconRedes:hover{
                        color: variables.$color_rojo;

                    }
                }

            }

            /***********/
            .block_navigation_inf{
                padding: 2px 0px;
                //background: rgb(183, 181, 181);
                .block_navigation_inf_ul{
                    padding: 0px 5px;
                    //background: greenyellow;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    .block_navigation_inf_ul_li{
                        padding: 5px;
                        margin-left: 16px;
                        list-style: none;
                        .link{
                            font-size: 16px;
                            color: variables.$color_blanco;
                            text-transform: uppercase;
                            text-decoration: none;
                            font-weight: 500;
                            border-bottom: 5px solid transparent;
                            transition: 0.3s all;
                        }
                        .link:hover{
                            border-bottom: 5px solid variables.$color_rojo;
                            color: variables.$color_rojo;


                        }
                    }
                }
            
            }
        }

        /*************/
        .block_btnResponsive{
            //width: 50px;
            //height: 50px;
            //background: grey;
            //margin-right: 20px;
            display: none;
        }
    }
}







/* Tablets (769px a 1024px) */   /*-------------------CAMBIO BTN---------*/
@media (min-width:350px) and (max-width:1024px){ 
   .cont_header{
        width: 100%;
        height: 120px;
        //max-width: 1600px;
        background: variables.$color_black_claro;
        padding: 5px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        left: 0;    
        top: 0;
        right: 0;
        margin: auto;
        z-index: 100;
        /**************/
        .block_logo{
            margin-top:70px;
            margin-left: 20px;
            width: 240px;
            height: 240px;
            z-index: 100;
        }

        /************/
        .block_navigation{
            margin-top: 40px;
            width: 260px;
            height: 85vh;
            padding: 0px;
            margin-right: 10px;
            background: variables.$color_black_claro;
            position: absolute;
            top:80px;
            left: -100%;
            transition: 0.2s ease-in-out all;
           
            /*************/
            .block_navigation_sup{
                width: 100%;
                padding: initial;
                padding-top: 80px;
                background: variables.$color_black_claro;
                display: flex;
                flex-direction: column-reverse;
                justify-content: flex-start;
                align-items: flex-start;
                backdrop-filter: blur(2px);
                /*****************/
                .redes{
                    margin:auto;
                    background: transparent;
                    .iconRedes{
                        font-size: 30px;
                        padding: 2px;
                    }
                    .iconRedes:hover{
                        color: violet;
                        cursor: pointer;
                    }
                }
                
                /****************/
                .menu_secundario{
                    width: 100%;
                    padding: initial;
                    padding: 30px 0px;

                    .menu_secundario_ul{
                        width: 100%;
                        padding: 10px 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        list-style: none;

                        .menu_secundario_ul_li{
                            padding: 5px;
                            margin: 0px 2px;
                            text-align: start;

                            .link{
                                color: rgb(255, 62, 236);
                                font-size: 20px;
                            }
                            .link:hover{
                                color: variables.$color_blanco;
                                font-size: 20px;
                            }
                        }
                    }
                    
                }

              

            }

            /***********/
            .block_navigation_inf{
                padding-bottom:30px;
                background: variables.$color_black_claro;
                backdrop-filter: blur(22px);
                .block_navigation_inf_ul{
                    padding:initial;
                    //background: greenyellow;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    .block_navigation_inf_ul_li{
                        padding: 5px 20px;
                        //background: rgb(68, 67, 67);
                        margin-left: initial;
                        list-style: none;

                        .link{
                            font-size: 24px;
                            color: variables.$color_blanco;
                            text-transform: uppercase;
                            text-decoration: none;
                            font-weight: 500;
                            border-bottom: 2px solid transparent;
                            transition: 0.3s all;

                        }
                        .link:hover{
                            border-bottom: 2px solid violet;
                            color: violet;

                        }
                    }
                }
            
            }
        }

        .block_navigation_JS{
            left: 0px;
        }

        /*************/
        .block_btnResponsive{
            width: 50px;
            height: 50px;
            //background: grey;
            margin-right: 20px;
            display: block;
        }
    }
}







/* Móviles grandes y phablets (481px a 768px) */







/* Móviles pequeños (350px a 480px)-*/   






