@use "../variables";

/* Escritorios grandes (más de 1440px) */
.cont_grilla{
    width: 100%;
    max-width: 1600px;
    //padding: 10px 0px;
    margin: auto;
    background: rgb(255, 255, 255);
    display: grid;
    //gap:30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "grilla_header     grilla_header     grilla_header"
    "grilla_slader     grilla_slader     grilla_slader"
    "grilla_section    grilla_section    grilla_section"
    "grilla_productos  grilla_productos  grilla_productos"
    "grilla_maps       grilla_maps       grilla_maps"
    "grilla_contacto   grilla_contacto   grilla_contacto"
    "grilla_footer     grilla_footer     grilla_footer"
   
    ;

    .grilla_header{
        height: 160px;
        //background: rgb(158, 158, 158);
        //padding: 10px 0px;
        grid-area:grilla_header;
    }
//
    .grilla_slader{
        //margin-top: 20px;
        //background: rgb(158, 158, 158);
        //padding: 20px 0px;
        grid-area:grilla_slader;
    }

    .grilla_section{
        //background: rgb(158, 158, 158);
        //padding: 20px 0px;
        grid-area:grilla_section;
    }

    .grilla_productos{
        //background: rgb(158, 158, 158);
        //padding: 20px 0px;
        grid-area:grilla_productos;
        background-image: url(/source/CATALOGO/fondoFranja.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .grilla_maps{
        //background: rgb(158, 158, 158);
        //padding: 20px 0px;
        grid-area:grilla_maps;
    }


    .grilla_contacto{
        background: rgb(158, 158, 158);
        padding: 20px 0px;
        grid-area:grilla_contacto;
    }

    .grilla_footer{
        //background: rgb(158, 158, 158);
        //padding: 20px 0px;
        grid-area:grilla_footer;
    }

    

}



/* Laptops y escritorios (1025px a 1440px) */




/* Tablets (769px a 1024px) */




/* Móviles grandes y phablets (481px a 768px) -------------------CAMBIO BTN---------*/
@media (min-width:350px) and (max-width:768px){ 
    
.cont_grilla{
    width: 100%;
    max-width: 1600px;
    padding: 10px 0px;
    margin: auto;
    background: rgb(49, 49, 49);
    display: grid;
    gap:10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "grilla_header     grilla_header     grilla_header"
    "grilla_slader     grilla_slader     grilla_slader"
    "grilla_section    grilla_section    grilla_section"
    "grilla_productos  grilla_productos  grilla_productos"
    ;

    .grilla_header{
        height: 110px;
        //background: rgb(126, 126, 126);
        //padding: 10px 0px;
        grid-area:grilla_header;
    }

    .grilla_slader{
        //background: rgb(126, 126, 126);
        //padding: 10px 0px;
        grid-area:grilla_slader;
    }

    .grilla_section{
        background: rgb(126, 126, 126);
        padding: 10px 0px;
        grid-area:grilla_section;
    }

    .grilla_productos{
        background: rgb(126, 126, 126);
        padding: 10px 0px;
        grid-area:grilla_productos;
    }

}
}




/* Móviles pequeños (hasta 480px) */