@use "../variables";
    

/* Escritorios grandes (más de 1440px) */
.cont_slader{
    //background: rgb(7, 24, 56);
    //padding: 10px 0px;
    .container_swiper{
        width: 90%;
        margin: auto;
        .swiper{
            background: brown;
            padding: 10px 0px;
            .swiper-wrapper{
                background:rgb(196, 187, 187);
                padding: 10px 0px;
                .swiper-slide{
                    background:rgb(175, 171, 171);
                    padding: 10px 0px;
                    position: relative;
                    
                    /******Estilos las tres imagenes**************/

                    .slade_imageFondo1{
                        width: 100%;
                        height: 500px;
                        background-image: url(/source/Ice_cream.png);
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                        background-position: center;
                    }

                    .slade_imageFondo2{
                        width: 100%;
                        height: 500px;
                        background-image: url(/source/Ice_cream2.png);
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                        background-position: center;
                    }

                    .slade_imageFondo3{
                        width: 100%;
                        height: 500px;
                        background-image: url(/source/Ice_cream3.png);
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                        background-position: center;
                    }
                    /******fin Estilos las tres imagenes**************/


                    .slade_cubierta{
                        width: 100%;
                        height: 500px;
                        //background: rgba(252, 40, 216, 0.055);
                        position: absolute;
                        top: 0;
                    }

                    .slade_text{
                        width: 100%;
                        height: 450px;
                        position: absolute;
                        top: 0;
                        .slade_text_h1{
                            font-size: 150px;
                            font-weight: 500;
                            color: variables.$color_rosa_pastel;
                            -webkit-text-stroke: 5px rgb(41, 41, 41);
                            margin-top: 70px;
                            margin-left: 100px;
                            font-family: "BlackRose";

                        }

                         .slade_text_h2{
                            font-size: 60px;
                            margin-top: -50px;
                            margin-left: 120px;
                            font-family: "BlackRose";
                            color: variables.$color_rosa_pastel;
                        }
                    }
                 
                }
            }
        }
    }
}
    





/* Laptops y escritorios (1025px a 1440px) */
@media (min-width:1025px) and (max-width:1439px){
   .cont_slader{
    //background: rgb(7, 24, 56);
    //padding: 10px 0px;
    .container_swiper{
        width: 100%;
        margin: auto;
        .swiper{
            //background: brown;
            //padding: 10px 0px;
            .swiper-wrapper{//
                //background:rgb(196, 187, 187);
                //padding: 10px 0px;
                .swiper-slide{
                    //background:rgb(180, 38, 38);
                    width: 100%;
                    //padding: 10px 0px;
                    position: relative;
                    
                    .slade_imageFondo{
                        width: 100%;
                        height: 450px;
                       
                    }

                    .slade_cubierta{
                        width: 100%;
                        height: 450px;
                        background: rgba(0, 0, 0, 0.522);
                        position: absolute;
                        top: 0;
                        display: none;
                    }

                    .slade_text{
                        width: 100%;
                        height: 450px;
                        position: absolute;
                        top: 0;
                        .slade_text_h1{
                            font-size: 120px;
                            font-weight: 500;
                            color: variables.$color_rosa_pastel;
                            -webkit-text-stroke: 5px rgb(41, 41, 41);
                            margin-top: 70px;
                            margin-left: 90px;
                            font-family: "BlackRose";

                        }

                         .slade_text_h2{
                            font-size: 50px;
                            margin-top: -40px;
                            margin-left: 100px;
                            font-family: "BlackRose";
                            color: variables.$color_rosa_pastel;
                        }
                    }
                 
                }
            }
        }
    }
}
    
}



/* Tablets (769px a 1024px) */
@media (min-width:769px) and (max-width:1024px){
    .cont_slader{
    //background: rgb(7, 24, 56);
    //padding: 10px 0px;
    .container_swiper{
        width: 100%;
        margin: auto;
        .swiper{
            //background: brown;
            //padding: 10px 0px;
            .swiper-wrapper{//
                //background:rgb(196, 187, 187);
                //padding: 10px 0px;
                .swiper-slide{
                    //background:rgb(180, 38, 38);
                    width: 100%;
                    //padding: 10px 0px;
                    position: relative;
                    
                    .slade_imageFondo{
                        width: 100%;
                        height: 450px;
                        padding: 10px 0px;
                       
                    }

                    .slade_cubierta{
                        width: 100%;
                        height: 450px;
                        background: rgba(0, 0, 0, 0.522);
                        position: absolute;
                        top: 0;
                    }

                    .slade_text{
                        width: 100%;
                        height: 450px;
                        position: absolute;
                        top: 0;
                        .slade_text_h1{
                            width: 300px;
                            font-size: 120px;
                            font-weight: 500;
                            color: variables.$color_rosa_pastel;
                            -webkit-text-stroke: 5px rgb(41, 41, 41);
                            margin-top: 70px;
                            margin-left: 90px;
                            font-family: "BlackRose";
                            line-height: 100px;
                        }

                         .slade_text_h2{
                            font-size: 50px;
                            margin-top: 10px;
                            margin-left: 100px;
                            font-family: "BlackRose";
                            color: variables.$color_rosa_pastel;
                        }
                    }
                 
                }
            }
        }
    }
}
}