$color_grey:rgb(109, 109, 109);
$color_rosa:rgb(255, 165, 180);
$color_rojo:#fd4e4e;
$color_blanco:#ffffff;
$color_rosa_pastel:#FDC5C5;
$color_celeste:#C5E4FD;
$color_amarillo_crema:#FFF6B7;
$color_menta_suave:#D1F2EB;
$color_lila_pastel:#E7D0FF;
$color_black_claro:#2d2c2c;


