@use "../scss/variables";
@use "../scss/mixins";


@use "../scss/Page_principal/swiperSlader";
@use "../scss/Page_principal/grilla";
@use "../scss/Page_principal/cont_header";
@use "../scss/Page_principal/cont_section";
@use "../scss/Page_principal/cont_productos";
@use "../scss/Page_principal/cont_footer";



@font-face {
    font-family: "curvita_normal";
    src: url("../fonts/Cream Cake.otf") format("opentype");
}

@font-face {
    font-family: "curvita_bold";
    src: url("../fonts/Cream Cake Bold.otf") format("opentype");
}

@font-face {
    font-family: "normal_black";
    src: url("../fonts/CreatoDisplay-Black.otf") format("opentype");
}

@font-face {
    font-family: "normal_bold";
    src: url("../fonts/CreatoDisplay-Bold.otf") format("opentype");
}

@font-face {
    font-family: "normal_medium";
    src: url("../fonts/CreatoDisplay-Medium.otf") format("opentype");
}

@font-face {
    font-family: "normal_regular";
    src: url("../fonts/CreatoDisplay-Regular.otf") format("opentype");
}



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins ;
  font-weight: 300;
  font-style: normal;
  transition: 0.5s all ease-in-out;
  color: rgb(34, 34, 34);
  
}

a{
  text-decoration: none;
}


