@use "./variables";



@use "../scss/Page_principal/swiperSlader";
@use "../scss/Page_principal/grilla";
@use "../scss/Page_principal/cont_header";



@font-face{
    src: url(../fonts/BLACKR~1.TTF);
    font-family: "BlackRose";
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  transition: 0.5s all ease-in-out;
  
}

a{
  text-decoration: none;
}