@use "./variables";



@use "../scss/Page_principal/swiperSlader";
@use "../scss/Page_principal/grilla";
@use "../scss/Page_principal/cont_header";
@use "../scss/Page_principal/cont_section";




@font-face {
    font-family: "curvita";
    src: url("../fonts/Dirtylane\ \(Demo_Font\).otf") format("truetype");
}



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif  ;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  transition: 0.5s all ease-in-out;
  color: rgb(60, 60, 60);
}

a{
  text-decoration: none;
}